@mixin text {
	font: .75em arial, sans-serif;
}

@mixin title {
	font: bold .87em arial, sans-serif;
}

@mixin vertical-gradient($from, $to, $filter:true, $stop:100%) {
  background: linear-gradient(to bottom, $from 0%, $to $stop);

  @if(filter == true) {
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$from}', endColorstr='#{$to}',GradientType=0 );
  }
}
