html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, thead, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: ''; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "ZurichBT";
  src: url("../fonts/ZurichBT/Roman/zurich_bt_roman.eot");
  src: url("../fonts/ZurichBT/Roman/zurich_bt_roman.woff") format("woff"), url("../fonts/ZurichBT/Roman/zurich_bt_roman.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "ZurichBT";
  src: url("../fonts/ZurichBT/Bold/zurich_bt_bold.eot");
  src: url("../fonts/ZurichBT/Bold/zurich_bt_bold.woff") format("woff"), url("../fonts/ZurichBT/Bold/zurich_bt_bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: "ZurichBT";
  src: url("../fonts/ZurichBT/Italic/zurich_bt_italic.eot");
  src: url("../fonts/ZurichBT/Italic/zurich_bt_italic.woff") format("woff"), url("../fonts/ZurichBT/Italic/zurich_bt_italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: "MyriadPro";
  src: url("../fonts/MyriadPro/Regular/MyriadProRegular.ttf") format("truetype");
  font-style: italic;
  font-weight: 400; }

body {
  background-image: url(../images/bg.jpg);
  font-family: 'MyriadPro', Arial, sans-serif;
  font-size: 16px; }

.section {
  max-width: 990px;
  margin: 0 auto; }
  .section__text {
    font-size: .7em;
    padding-bottom: .2em; }
  .section__title {
    font-size: 1.25em; }
  .section__left {
    float: left; }
  .section__right {
    float: right; }

.container {
  margin-right: auto;
  margin-left: auto;
  max-width: 1330px; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

.text {
  font: 12px Arial, sans-serif;
  color: #fff;
  line-height: 1.5em;
  margin: .5em 0; }

.title {
  font: 14px Arial, sans-serif; }

.sidebar-title {
  font: 14px 'ZurichBT', Arial, sans-serif;
  color: #fff; }

.tabs {
  font: 18px 'ZurichBT', Arial, sans-serif; }

.content-header {
  font: 26px 'MyriadPro'; }

.header {
  padding: 1em 0;
  overflow: hidden; }
  .header__info {
    font-family: 'ZurichBT';
    text-align: right;
    line-height: 1em;
    margin-top: -5px; }

.logo {
  margin-left: 1.8em; }

.menu__item {
  font-size: 1.2em;
  text-decoration: none;
  color: #209a28;
  text-transform: uppercase; }

.menu__list-item {
  float: left;
  margin-left: 20px;
  padding: 2em 0;
  font-size: .5em; }

.main-navigation {
  margin-top: -.1em; }

.navigation__list {
  width: 100%;
  border-radius: .4em; }

.navigation__list-item {
  display: inline-block; }

.navigation__item {
  display: block;
  padding: .7em 1.4em;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: .5s ease; }
  .navigation__item_green:not(:hover) {
    background: linear-gradient(to bottom, #65c03d 0%, #10951b 100%);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset;
    transition: .5s ease; }
  .navigation__item_green:hover {
    background-color: #3baa2c;
    transition: .5s ease; }
  .navigation__item_green:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset; }
  .navigation__item_grey:not(:hover) {
    background: linear-gradient(to bottom, #979286 0%, #70695f 100%);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset;
    transition: .5s ease; }
  .navigation__item_grey:hover {
    background-color: #454c4d;
    transition: .5s ease; }
  .navigation__item_grey:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset; }
  .navigation__item_light-grey:not(:hover) {
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset;
    transition: .5s ease; }
  .navigation__item_light-grey:hover {
    background-color: #cacfd2;
    transition: .5s ease; }
  .navigation__item_light-grey:active {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5) inset; }

.navigation_green {
  background: linear-gradient(to bottom, #65c03d 0%, #10951b 100%);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset; }

.navigation_grey {
  background: linear-gradient(to bottom, #979286 0%, #70695f 100%);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset; }

.navigation_light-grey {
  background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5) inset; }

.breadcrumbs__list-item {
  display: inline-block; }

.breadcrumbs__item {
  display: block;
  text-decoration: none;
  color: #14961c;
  padding: .7em 1.5em; }

.content {
  float: left;
  padding: 1em; }
  .content-text {
    font: .75em Arial, sans-serif; }
  .content-title {
    font: .875em Arial, sans-serif; }

.slider__slide {
  position: relative; }

.slider-img {
  border-radius: .625em; }

.slider__description {
  position: absolute;
  top: 0;
  right: 0;
  width: 235px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 0 1em 1em 0;
  padding: 1.4em 1em; }

.slider-title {
  font-size: 1.2em; }

.slider-header {
  font-size: 2em;
  padding: .2em 0;
  color: #28b028;
  letter-spacing: -1px; }

.title {
  font: 14px 'ZurichBT', Arial, sans-serif;
  color: #fff; }

.link {
  color: #28b028; }

.owl-carousel .item img {
  display: block;
  width: 100%;
  height: auto; }

.sidebar {
  float: right;
  width: 250px; }
